
body{
    font-family: "Epilogue", sans-serif;
    margin: 0 auto;
    width: 90%;
    border: 2px solid red;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 78px;
    border: 2px solid red;
}

nav img{
    height: 78px;
    border: 2px solid red;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    border: 2px solid red;
}

header{
    display: flex;
    justify-content: space-around;
    padding: 2em;
    border: 2px solid red;
}

header .left-side{
    
}

header h1{
    font-size: 68px;
    border: 2px solid red;
}
header .intro{
    font-size: 17px;
    border: 2px solid red;
}

header button{
    width: 211px;
    height: 78px;
    background: #2D2D2D;
    color: white;
    margin-top: 1em;
    border: 2px solid red;
}

section#partners ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    border: 2px solid red;
}

section#categories ul{
    display: flex;
    justify-content: space-around;
    border: 2px solid red;
}

section#portfolio ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    border: 2px solid red;
}

section#testimonial{
   
}

section#testimonial ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    border: 2px solid red;
}

footer{
}
footer .body{
    display: flex;
    border: 2px solid red;
}
