body{
    background-color: rgb(90, 89, 89);
    margin-left: 50px;
    margin-right: 50px;
}

.titlu{
    border: 2px solid red;
    background-color: rgb(63, 31, 31);
    color: white;
    text-align: center;
}

nav{
    background-color: rgb(63, 31, 31);
    border: 2px solid red;
    color: white;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 20px;
    border: 2px solid red;
}

header{
    border: 2px solid red;
    background-color: rgb(63, 31, 31);
    color: white;

}
header ul{
    display: flex;  
    justify-content: space-evenly;
    list-style-type: none;
    border: 2px solid red;
}
.weapons {
    border: 2px solid red;
    background-color: rgb(63, 31, 31);
    color: white;

}
.weapons ul{
    display: flex;  
    justify-content: space-evenly;
    list-style-type: none;
    border: 2px solid red;}

char .personaj{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 2px solid red;
    text-align: center;

}
primul{}
char .personaj .c1{
    
    border: 2px solid red;
    background-color: rgb(90, 79, 29);
}
char .personaj .c1 .img1{
    border: 2px solid red;

}
char .personaj .c1 .desc{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    background-color: rgb(250, 248, 248);
}
char .personaj .c1 .desc .weaponchar{
    border: 2px solid red;
    background-color: rgb(248, 249, 249);
}
al doilea{}
char .personaj .c2{
    border: 2px solid red;
    background-color:rgb(30, 79, 29);
}
char .personaj .c2 .img1{
    border: 2px solid red;

}
char .personaj .c2 .desc{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    background-color: rgb(250, 248, 248);
}
char .personaj .c2 .desc .weaponchar{
    border: 2px solid red;
    background-color: rgb(248, 249, 249);
}
al treilea{}
char .personaj .c3{
    border: 2px solid red;
    background-color:rgb(37, 72, 94);
}
char .personaj .c3 .img1{
    border: 2px solid red;

}
char .personaj .c3 .desc{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    background-color: rgb(250, 248, 248);
}
char .personaj .c3 .desc .weaponchar{
    border: 2px solid red;
    background-color: rgb(248, 249, 249);
}
IV{}
char .personaj .c4{
    border: 2px solid red;
    background-color:rgb(88, 44, 33);
}
char .personaj .c4 .img1{
    border: 2px solid red;

}
char .personaj .c4 .desc{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    background-color: rgb(250, 248, 248);
}
char .personaj .c4 .desc .weaponchar{
    border: 2px solid red;
    background-color: rgb(248, 249, 249);
}
V{}
char .personaj .c5{
    border: 2px solid red;
    background-color:rgb(90, 79, 29);
}
char .personaj .c5 .img1{
    border: 2px solid red;

}
char .personaj .c5 .desc{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    background-color: rgb(250, 248, 248);
}
char .personaj .c5 .desc .weaponchar{
    border: 2px solid red;
    background-color: rgb(248, 249, 249);
}
VI{}
char .personaj .c6{
    border: 2px solid red;
    background-color:rgb(88, 44, 33);
}
char .personaj .c6 .img1{
    border: 2px solid red;

}
char .personaj .c6 .desc{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    background-color: rgb(250, 248, 248);
}
char .personaj .c6 .desc .weaponchar{
    border: 2px solid red;
    background-color: rgb(248, 249, 249);
}
VII{}
char .personaj .c7{
    border: 2px solid red;
    background-color:rgb(30, 79, 29);
}
char .personaj .c7 .img1{
    border: 2px solid red;

}
char .personaj .c7 .desc{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    background-color: rgb(250, 248, 248);
}
char .personaj .c7 .desc .weaponchar{
    border: 2px solid red;
    background-color: rgb(248, 249, 249);
}
h2{
    color: rgb(206, 203, 202);
}