nav{
    border: 2px solid red;
}
header{
    border: 2px solid red;
}
header .caracter{
    display: flex;
    justify-content: space-around;
    border: 2px solid red;
    margin-top: 1em;
}
char .personaj{
    border: 2px solid red;

}
char .personaj .c1{
    border: 2px solid red;
    background-color: burlywood;
}
char .personaj .c1 .img1{
    border: 2px solid red;

}
char .personaj .c1 .albedoicon .desc{
    border: 2px solid red;
    background-color: black;
}
char .personaj .c1 .albedoicon .desc .weaponchar{
    border: 2px solid red;
    background-color: aqua;
}
